PORT=3000

MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Ukr.net
SMTP_PORT=465
SMTP_HOST=smtp-relay.brevo.com
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# JWT secret used for reset tokens
JWT_SECRET=

# Frontend app domain (used to build reset link)
APP_DOMAIN=http://localhost:3000/auth

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
